@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/source-sans-pro-v14-latin-regular.eot');
  src: local(''),
    url('/fonts/source-sans-pro-v14-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/source-sans-pro-v14-latin-regular.woff2') format('woff2'),
    url('/fonts/source-sans-pro-v14-latin-regular.woff') format('woff'),
    url('/fonts/source-sans-pro-v14-latin-regular.ttf') format('truetype'),
    url('/fonts/source-sans-pro-v14-latin-regular.svg#SourceSansPro') format('svg');
}
