:root {
  --yellow: #ffe600;
  --white: #fff;
  --dark-blue: #00505f;
  --black: #000;
  --light-blue: #0ea5df;
  --source-sans-pro: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--source-sans-pro);
}

body {
  background: var(--yellow);
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 2px;
  }
}

// Skip link

// [href='#main'] {
//   position: absolute;
//   top: 0;
//   right: 100%;
//   margin: 1rem;
//   padding: 1%;
//   &:active,
//   &:focus {
//     background: blue;
//     color: #fff;
//     right: auto;
//   }
// }

// External link

// .external-link::after {
//   content: '';
//   display: inline-block;
//   background-image: url('/external-link.svg');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 75% auto;
//   width: 1.5rem;
//   height: 1.5rem;
// }
